@import './vars';
// Redesign hr
hr {
  border-color: transparent;
  margin: 20px 0;

  &::after {
    content: '• • •';
    color: $color-gray;
    display: block;
    text-align: center;
  }
}

// Focus style
*:focus {
  outline: 3px solid $color-main;
}

// Reset images
img {
  display: block;
  width: 100%;
}
