$color-black: #000;
$color-white: #fff;
$color-white-darker: darken($color-white, 5%);
$color-main: #3d4452;
$color-main-darker: darken($color-main, 5%);
$color-gray: darken($color-white, 30%);
$color-twitter: #1DA1F2;
$color-twitter-darker: darken($color-twitter, 10%);
$radius: 3px;
